<ion-view>
    <ion-content>
        <div ng-style="headerStyle">
            <img src="img/banner.png" style="height: 100%;width: 100%;">
        </div>
        <div>
            <div class="row row-wrap row-no-padding" style="padding: 0px;height: 80%;">
                <div class="col col-center" style="padding: 0px;height:80%;" ng-click="goCusReg()">
                    <img src="img/khdl.png" style="height: 100%;width: 100%;">
                </div>
                <div class="col col-center" style="padding: 0px;height:80%;" ng-click="goSalesReg()">
                    <img src="img/shdl.png" style="height: 100%;width: 100%;">
                </div>
            </div>
        </div>
        <div style="background-color: #cccccc;height:30px;" >
            <div align="center">
                <img src="img/hzsj.png" height="20px" style="padding-top: 5px;"> 合作商家
            </div>
        </div>

        <ion-list ng-controller="MyCtrl">
            <ion-item ng-repeat="item in items" item="item" class="item-remove-animate" ng-click="itemClicked(item.id)">
                <div style="width: 30%;height: 100%;float: left">
                    <img ng-src="{{ item.logopic }}" width="100%" height="100%" />
                </div>
                <div style="width: 70%;height: 100%;float: right;font-size: 12px"  class="warp">
                    {{ item.title }}
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>

