<ion-view>

    <ion-content style="background-color: #ffffff;">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-style="itemtitleimageStyle" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)"
                       delegate-handle="slideboximgs">
            <ion-slide style="width: 100%;height:100%;" ng-repeat="i in imagelist" ng-click="goDetail(i.ID)">
                <img id="img" src="{{i.LOGOPIC}}" ng-style="itemtitleimageStyle">
            </ion-slide>
        </ion-slide-box>
            <div class="row row-wrap row-no-padding" ng-style="itemSingleStyle">
                <div class="col col-33 col-center" style="text-align: center;">
                    <img src="img/item-left.png" style="width:100%;display: inline;">
                </div>
                <div class="col col-33 col-center" style="text-align: center;">
                    <a style="font-size: 1.3em;display: inline;">新产品发布</a>
                </div>
                <div class="col col-center" style="text-align: center;">
                    <img src="img/item-right.png" style="width:100%;display: inline;">
                </div>
             </div>

          <ion-list ng-style="listStyle">
              <ion-item ng-style="itemStyle" ng-repeat="i in articlelist" ng-click="goDetail(i.ID)">
                  <div class="row row-wrap row-no-padding" ng-style="rowStyle">

                      <div class="col col-80 col-center" style="text-align: center;height:100%;">
                          <div style="white-space:normal;width: 100%;text-align: left;font-size: 1em;">{{i.CONTENT}}
                          </div>
                      </div>

                      <div class="col col-20 col-center" style="height:100%;">
                          <img src="{{i.LOGOPIC}}" style="display: inline;height: 80%;float: right;">
                      </div>
                  </div>
                  <div style="height: 1px;width:100%;background-color: #dcdcdc;">
                  </div>
              </ion-item>

          </ion-list>

        <div ng-style="itembottomimageStyle" ng-click="goListMain()">
           <img src="img/yx_bottom.png" ng_style="itembottomimageStyle">
        </div>

    </ion-content>
</ion-view>