/* Empty. Add your own CSS if you like */
td{border-bottom: solid 1px grey;}
/*圆角效果(整体)*/
.radius{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*圆角效果(上方)*/
.radius-top{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*圆角效果(下方)*/
.radius-button{
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.color_blue{color:#387ef5}
.bg_color_blue{background-color:#387ef5}
.date_col:hover{background-color:rgba(56,126,245,.5);cursor:pointer}
.date_col:active,.date_selected{background-color:rgba(56,126,245,1)}
.date_col:active{cursor:pointer}.no_padding{padding:0}
.date_cell{padding:5px}
.error_msg{color:#c00!important;font-size:12px}
.warp{
    white-space: normal;width:200px;
}