<ion-view>
    <ion-nav-title><h1 class="title"><b>{{domainName}}待办</b></h1></ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="goToMain()"> 返回</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" spinner="android"></ion-refresher>
        <ion-list can-swipe="true">
            <ion-item ng-if="ifIsNULL"><h2>没有待审批的申请</h2></ion-item>
            <ion-item ng-if="ifIsError"><h2>查询失败!请反馈问题</h2></ion-item>
            <ion-item ng-repeat="item in items" ng_click="showDetail('{{item.P_ID}}')">
                <div class="">
                    <h2>{{item.P_NAME}}</h2>
                    <p>{{item.P_CODE}}</p>
                    <p style="display:inline-block;float:left;">{{item.USER_NAME}}</p>
                    <p style="display:inline-block;float:right;">{{item.CREATE_DATE}}</p>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="10%" immediate-check='true'>
        </ion-infinite-scroll>
    </ion-content>
</ion-view>