<ion-view>
    <ion-nav-title>
        <!--<h1 class="title"><b>湖 北 公 众 云 办 公</b></h1>-->
        <img src="../img/index_logo.png" style="width:60%;padding-top:5px">
    </ion-nav-title>
    <ion-content>
        <div class="row assertive-bg row-no-padding">
            <div class="col col-25">
                <div class="list list-borderless">
                    <div class="item item-thumbnail-left assertive-bg">
                        <img src="../img/male.jpg">
                    </div>
                </div>
            </div>
            <div class="col col-75 col-offset-20 col-bottom" style="height:110px">
                <br>
                <h4 class="title" style="color:white">欢迎 {{staff}} 同仁！</h4>
                <h4 class="title" style="color:white">部门: {{dept}}</h4>

            </div>
        </div>
        <div class="row stable-bg">
            <div class="col"></div>
        </div>
        <div class="row" style="padding-top:4px;padding-bottom:2px;">
            <div class="col col-25" style="text-align:center;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8">
                <br><img ng-src="../img/icon/tb.png" style="width:50%" ng-click="goToCheckList('queryBidInfo')">
                <br><span style="color:grey">投标</span>
            </div>
            <div class="col col-25" style="text-align:center;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8">
                <br><img ng-src="../img/icon/bzj.png" style="width:50%" ng-click="goToCheckList('queryBidMoney')">
                <br><span style="color:grey">保证金</span>
            </div>
            <div class="col col-25" style="text-align:center;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8">
                <br><img ng-src="../img/icon/ht.png" style="width:50%" ng-click="goToCheckList('queryCttInfo')">
                <br><span style="color:grey">合同</span>
            </div>
            <div class="col col-25" style="text-align:center;border-bottom:1px solid #e8e8e8">
                <br><img ng-src="../img/icon/xqd.png" style="width:50%" ng-click="goToCheckList('queryPurcCon')">
                <br><span style="color:grey">需求单</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-25" style="text-align:center;border-right:1px solid #e8e8e8">
                <br><img ng-src="../img/icon/ck.png" style="width:50%" ng-click="goToCheckList('queryStoCk')">
                <br><span style="color:grey">出库</span>
            </div>
            <div class="col col-25" style="text-align:center;border-right:1px solid #e8e8e8">
                <br><img ng-src="../img/icon/ls.png" style="width:50%" ng-click="goToCheckList('queryIncRec')">
                <br><span style="color:grey">列收</span>
            </div>
            <div class="col col-25" style="text-align:center;border-right:1px solid #e8e8e8">
                <br><img ng-src="../img/icon/kp.png" style="width:50%" ng-click="goToCheckList('queryInvApp')">
                <br><span style="color:grey">开票</span>
            </div>
            <div class="col col-25" style="text-align:center">
                <br><img ng-src="../img/icon/fk.png" style="width:50%" ng-click="goToCheckList('queryPayApp')">
                <br><span style="color:grey">付款</span>
            </div>
        </div>
        <div class="row stable-bg">
            <div class="col"></div>
        </div>
    </ion-content>
</ion-view>