<ion-view>
    <ion-nav-title><h1 class="title"><b>付款信息</b></h1></ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="goToMain()"> 返回</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-compose" ng-click="openModal()">审批</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" spinner="android"></ion-refresher>
        <ion-list can-swipe="true">
            <ion-item ng-repeat="item in items" ng_click="showDetail('{{item.PAY_ID}}')" style="white-space:normal;">
                <div class="row" style="padding:1% 0 2% 2%;border-bottom:1px solid #dddddd" >
                    <div class="col" style="font-size:18px;font-weight: 700;">合同编号：{{item.CTT_CODE}}</div>
                </div>
                <div class="row" style="padding: 3%;margin-top: 3%" >
                    <div class="col-33 col-top"><b>申请状态：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.STATE_NAME}}</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>付款账号：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.ACCOUNT}}</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>付款类型：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.PAY_METHOD_NAME}}</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>付款金额：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.PAY_AMOUNT}} (元)</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>付款进度：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.PAY_DIRECTION}} (元)</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>付款方式：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.PAY_TYPE_NAME}}</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>付款日期：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.PAY_DATE}}</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>备注信息：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.REMARK}}</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>经 办 人：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.USER_NAME}}</div>
                </div>
                <div class="row" style="padding: 3%" >
                    <div class="col-33 col-top"><b>经办日期：</b></div><div class="col-67" style="color:#666666;white-space: normal;">{{item.OPER_DATE}}</div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="10%" immediate-check='true'>
        </ion-infinite-scroll>
    </ion-content>
</ion-view>