<ion-view>
    <ion-nav-title>
<!--        <p class="title">
            <b ng-style="allstyle.pstyle" ng-click="changestyle(allstyle,0)">商品</b>
            <b ng-style="Fkstyle.pstyle" ng-click="changestyle(Fkstyle,1)">详情</b>
            <b ng-style="Fhstyle.pstyle" ng-click="changestyle(Fhstyle,2)">评价</b>
        </p>      -->
        商品详情
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="httpback()"> 返回</button>
    </ion-nav-buttons>
 <!--   <ion-content >        -->
            <ion-content style="background-color: gainsboro;">
                        <ion-slide-box style="width:100%;height: 300px;" auto-play="true" does-continue="true"
                                       slide-interval=2000 show-pager="true" pager-click="pageClick(index)"
                                       active-slide="model.activeIndex" delegate-handle="delegateHandler">
                            <ion-slide style="width: 100%;height:100%;">
                                <img src="img/store/image_vp_1.png" width="100%;" height="100%;">
                            </ion-slide>
                            <ion-slide style="width: 100%;height:100%;">
                                <img src="img/store/image_vp_1.png" width="100%;"
                                     height="100%;">
                            </ion-slide>
                            <ion-slide style="width: 100%;height:100%;">
                                <img src="img/store/image_vp_1.png" width="100%;"
                                     height="100%;">
                            </ion-slide>
                            <ion-slide style="width: 100%;height:100%;">
                                <img src="img/store/image_vp_1.png" width="100%;"
                                     height="100%;">
                            </ion-slide>
                            <ion-slide style="width: 100%;height:100%;">
                                <img src="img/store/image_vp_1.png" width="100%;"
                                     height="100%;">
                            </ion-slide>
                        </ion-slide-box>
                    </ion-item>


                        <div class="list">
                            <div class="item" style="padding: 10px;height: 60px;">
                                <div class="row row-wrap row-no-padding" style="height: 100%;padding: 0px;">
                                    <div class="col col-80 col-center" style="padding: 0px;">
                                         <a style="text-decoration: none;font-size: 14px;font-weight: bold;">{{goodsdetail.G_NAME}}</a>
                                    </div>
                                    <div class="col col-center" style="padding: 0px;">
                                         <img src="img/store/image_shoucang.png" style="width: 80%;">
                                    </div>
                                </div>
                            </div>
                            <div class="item" style="padding: 10px;border: none;">
                                <p>
                                    <a style="text-decoration: none;font-size: 14px;font-weight: bold;color: #808080;">本商品由</a>
                                    <a style="text-decoration: none;font-size: 14px;font-weight: bold;color: orange;margin-left: 5px;">{{goodsdetail.SUP_NAME}}</a>
                                    <a style="text-decoration: none;font-size: 14px;font-weight: bold;color: #808080;margin-left: 5px;">配送并提供售后服务</a>
                                </p>
                            </div>
                            <div class="item" style="padding: 10px;border: none;">
                                <p style="text-decoration: none;font-size: 12px;color: #808080;">本商品由邮乐网入驻商家提供

                                </p>
                            </div>
                            <div class="item" style="padding: 10px;">
                                <div class="row row-wrap row-no-padding">
                                      <div class="col col-50">
                                            <p style="font-size: 20px;color: #ff4500;">￥{{goodsdetail.G_PRICE}}</p>
                                      </div>
                                      <div class="col col-center">
                                            <p style="float: right;">
                                                <a style="color: #808080;text-decoration: none;">运费：</a>
                                                <a style="color: #ff4500;text-decoration: none;">0</a>
                                                <a style="color: #808080;text-decoration: none;">元</a>
                                            </p>
                                      </div>
                                </div>
                            </div>

                            <div class="item" style="padding: 0px;border: none;">
                                <div style="height: 5px;background-color: gainsboro"></div>
                            </div>

                        </div>
            </ion-content>




<!--    </ion-content>        -->

    <ion-footer-bar style="padding: 0px;height:40px;">
        <div class="row row-wrap row-no-padding" style="padding: 0px;background-color: #dcdcdc;">
            <div class="col col-34 col-center" style="padding: 0px;height:100%;">
                <div class="list">
                    <div class="item tabs tabs-secondary tabs-icon-top">
                        <a class="tab-item">
                            <i class="icon ion-ios-chatbubble"></i>
                            客服
                        </a>
                        <a class="tab-item" ng-click="goDianpu()">
                            <i class="icon ion-ios-briefcase-outline"></i>
                            商家
                        </a>
                        <a class="tab-item" ng-click="goCart()">
                            <i class="icon ion-ios-cart-outline"></i>
                            购物车

                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-center" style="text-align: center;">
                    <button class="button button-balanced" style="width: 80%;height: 100%;margin: 0 auto;display: inline;" ng-click="addCart()">
                        加入购物车
                    </button>
            </div>
            <div class="col col-center" style="text-align: center;">
                    <button class="button button-balanced" style="width: 80%;height: 100%;margin: 0 auto;;display: inline;" ng-click="goOrder()">
                        立即购买
                    </button>
            </div>

        </div>
    </ion-footer-bar>
</ion-view>