<ion-view  >
    <ion-nav-title><h1 class="title"><b>湖北邮政微商城</b></h1></ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-large icon ion-ios-arrow-back" ng-click="httpback()" style="border: none;background-color: transparent;color: white;font-size: 18px; ">返回</button>
    </ion-nav-buttons>
    <ion-content ng-controller="scrollindex" style="background-color: #EEEEEE;">


                 <div  ng-style="barStyle">
                    <div class="row row_wrap row-no-padding" style="height: 100%;">
                        <div class="col col-25 col-center" style="padding-top: 0px;padding-bottom: 0px;background-color: white;height: 38px;">
                           <img src="img/store/zhongguoyouzheng.png" width="100%" height="100%">
                        </div>
                        <div class="col col-50 col-center" style="padding-left: 10px;">
                            <label class="item-input-wrapper" style="background-color: #E5E5E5;height: 100%;">
                                <i class="icon ion-ios-search placeholder-icon"></i>
                                <input type="search" placeholder="搜索京东商品/店铺" style="background-color:#E5E5E5;height: 100%;">
                            </label>
                        </div>
                        <div class="col col-center" style="text-align: center;">
                            <p style="display: inline;"><!--  p不能跟h标签合用   -->
                                 <i class="icon ion-ios-location-outline balanced" style="font-size: 30px;"></i>
                                 <a style="text-decoration: none;color: #adff2f;font-size: 20px;">武汉</a>
                            </p>
                        </div>
                    </div>
                </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-style="pagerStyle"  auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex"  delegate-handle="delegateHandler">
            <ion-slide style="width: 100%;height:100%;">
                <img src="img/store/title_image.png" ng-style="pagerStyle">
            </ion-slide>
            <ion-slide style="width: 100%;height:100%;">
                <img src="http://img.iyookee.cn/20150619/20150619_100607_883_670.png" ng-style="pagerStyle">
            </ion-slide>
            <ion-slide style="width: 100%;height:100%;">
                <img src="http://img.iyookee.cn/20150714/20150714_172952_955_22.jpg" ng-style="pagerStyle">
            </ion-slide>
        </ion-slide-box>

            <div class="row row-wrap row-no-padding" ng-style="imageStyle">
               <div class="col col-33" style="padding: 0px;height:100%;">
                   <img src="img/store/nongpin.png" height="100%" width="100%">
               </div>
               <div class="col" style="padding-left: 10px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;height: 100%;">
                   <img src="img/store/meishi.png" ng-style="meishiStyle">
                   <div class="row row-wrap row-no-padding" ng-style="bottomStyle">
                       <div class="col col-50" style="padding-right: 5px;padding-top:0px;padding-left: 0px;padding-bottom: 0px;height: 100%;">
                           <img src="img/store/baihuo.png" width="100%" height="100%">
                       </div>
                       <div class="col col-50" style="padding-left: 5px;padding-top:0px;padding-right: 0px;padding-bottom: 0px;height: 100%;">
                           <img src="img/store/caizhuang.png" width="100%" height="100%">
                       </div>
                   </div>
               </div>
            </div>


            <div class="row row-wrap row-no-padding" ng-style="rexiaotuijianStyle">
                 <div class="col col-center" style="text-align: center">

                         <p style="width: 100px;display: inline;">
                           <img src="img/store/tuijain.png" width="16px" height="16px" >
                            <a style="color: green;text-decoration: none;margin-left: 10px;">热销推荐</a>
                         </p>
                </div>
            </div>

             <div class="row row-wrap row-no-padding" ng-style="commendStyle">
                   <div class="col" style="padding-top: 0px;margin-bottom: 5px;margin-left: 3px;margin-right: 3px;background-color: white;" ng-repeat="i in commendlist" ng-click="entergoodsdetail(i.G_ID)">
                          <img src="{{i.G_PIC}}" width="100%" height="70%">
                          <a style="text-decoration: none;color: #000000;margin-top: 5px;">{{i.G_NAME}}</a>
                          <h3 style="color: red;font-weight: bold;margin-top: 5px;">￥{{i.G_PRICE}}</h3>
                   </div>

               <!--   innerHeight可能就是所管控的这个页面的高度，navbar是index.html的  -->
            </div>
   </ion-content>
</ion-view>