<!-- 隐藏头部  试试ng-hide         -->
<ion-view hide-nav-bar="true" style="z-index: 9999">
    <ion-content>

        <div class="row row-wrap " style="height: 120px;background-color: #ff7043;position:relative;">
            <div class="col col-33 text-center" style="padding: 10px;">
                <img src="img/store/icon_avatar.png" width="80px" height="80px"   />
            </div>
            <div class="col col-33 text-left">
                <h5 style="color: white;font-weight: bold;">jd_181711f</h5>
                <img src="img/store/img_register-member.png" style="position: absolute;bottom: 0px;"/>
            </div>
            <div class="col">
                <p style="float: right;">
                    <img src="img/store/ion-setting.png" style="width: 30px;height: 30px;" ng-click="entersetting()"/>
                    <img src="img/store/ion-message.png" style="width: 30px;height: 30px;margin-left: 10px;"/>
                </p>
                <a class="button icon-right ion-chevron-right" ng-click="enteraccountadminister()" style="border: none;font-size: 14px;background: none;float:right;color: white;">账户管理</a>
            </div>

        </div>
        <div style="height: 100px;">
            <div class="row row-wrap">
                <div class="col col-20 text-center">
                    <table width="100%">
                        <tr style="height: 36px;">
                            <td style="text-align: center;">
                                <img src="img/store/image_1.png" width="30px" height="30px">
                            </td>
                        </tr>
                        <tr style="margin-top: 10px;" >
                            <td style="text-align: center;">
                                <p>待付款1</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col col-20">
                    <table width="100%">
                        <tr style="height: 36px;">
                            <td style="text-align: center;">
                                <img src="img/store/image_2.png" width="30px" height="30px">
                            </td>
                        </tr>
                        <tr style="margin-top: 10px;">
                            <td style="text-align: center;">
                                <p>待收货</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col col-20">
                    <table width="100%">
                        <tr style="height: 36px;">
                            <td style="text-align: center;">
                                <img src="img/store/image_3.png"  width="30px" height="30px">
                            </td>
                        </tr>
                        <tr style="margin-top: 10px;">
                            <td style="text-align: center;">
                                <p>待评价</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col col-20">
                    <table width="100%">
                        <tr style="height: 36px;">
                            <td style="text-align: center;">
                                <img src="img/store/image_4.png"  width="30px" height="30px">
                            </td>
                        </tr>
                        <tr style="margin-top: 10px;">
                            <td style="text-align: center;">
                                <p>返修/退换</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col col-20" ng-click="entermyorder()">
                    <table width="100%">
                        <tr style="height: 36px;">
                            <td style="text-align: center;">
                                <img src="img/store/image_5.png"  width="30px" height="30px">
                            </td>
                        </tr>
                        <tr style="margin-top: 10px;" >
                            <td style="text-align: center;" >
                                <p>我的订单</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-icon-right" style="padding: 10px;background-color: #dcdcdc;" ng-click="enterdiscount()">
                我的优惠券

                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-icon-right" style="padding: 10px;background-color: #dcdcdc;">
                商品关注
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-icon-right" style="padding: 10px;background-color: #dcdcdc;">
                店铺关注
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-icon-right" style="padding: 10px;background-color: #dcdcdc;">
                浏览记录
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>