<!-- 隐藏头部  试试ng-hide         -->
<ion-view>
    <ion-nav-title><h1 class="title"><b>个人信息</b></h1></ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="httpback()"> 返回</button>
    </ion-nav-buttons>
    <ion-content style="background-color: white;">
               <!--  要实现百分比布局，最好是在外面包一层，里面要是有图片的话，就设置好高度   -->
        <div ng-style="gainheight" id="vicky">
            <div style="height: 100%;background-image: url(img/store/bg_personal.png);background-size: 100% 100%;background-repeat:no-repeat;padding-top: 5%;padding-bottom: 10%;">
                 <div style="height:40%;width:100%;text-align: center;">
                     <img src="img/store/vicky.png"  height="60px" style="display: inline">
                 </div>
                <div style="height:20%;width:100%;text-align: center;">
                    <a style="display: inline;color: white;">Vicky</a>
                </div>

                <div style="width:100%;height:25%;padding-left: 5%;padding-right:5%;">
                    <button class="button icon-left ion-ios-cart-outline" style="border:1px solid white;color: white;font-size: 1em;height: 80%;width:45%;background-color: transparent;" ng-click="entermyorder()">我的订单</button>
                    <button class="button icon-left ion-android-person" style="border:1px solid white;color: white;font-size: 1em;height: 80%;float:right;width:45%;background-color: transparent;" ng-click="enterpersonalinfo()">账号管理</button>
                </div>
           </div>
        </div>

        <div ng-style="gain">
            <div class="row row-wrap row-no-padding" ng-style="themeStyle">
                <div class="col" style="height: 100%;border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;">
                    <div style="height: 50%;width: 100%;text-align: center;">
                         <img src="img/store/icon_mine_coupon.png"  height="30px" style="display: inline;">
                    </div>
                    <div style="height: 42%;width: 100%;text-align: center;">
                        <a style="display: inline;font-size: 16px;margin-top: 20px;">我的优惠券</a>
                    </div>
                </div>
                <div class="col" style="height: 100%;border-bottom: 1px solid #dcdcdc;">
                    <div style="height: 50%;width: 100%;text-align: center;">
                        <img src="img/store/icon_mine_history.png"  height="30px" style="display: inline;">
                    </div>
                    <div style="height: 42%;width: 100%;text-align: center;">
                        <a style="display: inline;font-size: 16px;margin-top: 20px;">浏览记录</a>
                    </div>
                </div>
            </div>

            <div class="row row-wrap row-no-padding" ng-style="themeStyle">
                <div class="col" style="height: 100%;border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding-top: 5%;">
                    <div style="height: 50%;width: 100%;text-align: center;">
                        <img src="img/store/icon_mine_favorite.png"  height="30px" style="display: inline;">
                    </div>
                    <div style="height: 42%;width: 100%;text-align: center;">
                        <a style="display: inline;font-size: 16px;margin-top: 20px;">收藏夹</a>
                    </div>
                </div>
                <div class="col" style="height: 100%;border-bottom: 1px solid #dcdcdc;padding-top: 5%;" ng-click="enterAddress()">
                    <div style="height: 50%;width: 100%;text-align: center;">
                        <img src="img/store/icon_mine_address.png"  height="30px" style="display: inline;">
                    </div>
                    <div style="height: 42%;width: 100%;text-align: center;">
                        <a style="display: inline;font-size: 16px;margin-top: 20px;">地址管理</a>
                    </div>
                </div>
            </div>


        </div>

    </ion-content>
</ion-view>