<ion-view hide-nav-bar="true" style="z-index: 9999">
    <ion-content>
        <div style="width: 100%;height: 100%;text-align: center;">
            <div style="width: 80%;height:300px;display: inline;background-color: #EEEEEE;">
                <div class="list" style="background-color: #EEEEEE;">
                    <div class="item item-image" style="border: none;">
                        <img src="img/store/icon_paysuccess.png" width="100px">
                    </div>
                    <div class="item" style="text-align: center;;border: none;">
                        <a style="color: #158E58;display: inline;">支付成功</a>
                    </div>
                    <div class="item" style="text-align: center;;border: none;">
                        <a style="color: #A2A2A2;display: inline;">感谢您在本商城购买物品</a>
                    </div>
                </div>
            </div>

            <div class="row row-wrap row-no-padding" style="margin-top: 60px;">
                <div class="col col-center" style="text-align: center;">
                     <button class="button" style="display: inline;border-color: #9e9e9e;" ng-click="goOrderPage()">查看订单</button>
                </div>
                <div class="col col-center" style="text-align: center;">
                    <button class="button" style="display: inline;border-color: #9e9e9e;" ng-click="goMain()">返回首页</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>