<!-- 隐藏头部  试试ng-hide         -->
<ion-view ng-hide="">
    <ion-nav-title><h1 class="title"><b>个人信息</b></h1></ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="httpback()"> 返回</button>
    </ion-nav-buttons>
    <ion-content style="background-color: gainsboro;">

            <div class="row row-wrap row-no-padding" ng-style="avatarheight" ng-click="selectAvatar()">
                <div class="col col-50 col-center" style="padding: 0px;">
                    <a style="font-size: 18px;margin-left: 30px;">头像</a>
                </div>
                <div class="col col-33 col-center" style="padding: 0px;">

                    <img src="img/store/vicky.png" height="60px" style="float: right;">
                </div>
                <div class="col col-center" style="padding: 0px;text-align: center;">
                    <i class="icon ion-chevron-right" style="display: inline;"></i>
                </div>
            </div>
            <div style="height: 1px;background-color: gainsboro;">
            </div>

            <div class="row row-wrap row-no-padding" ng-style="nichengheight">
                <div class="col col-50 col-center" style="padding: 0px;">
                    <a style="font-size: 18px;margin-left: 30px;">昵称</a>
                </div>
                <div class="col col-33 col-center" style="padding: 0px;">
                    <a style="text-decoration: none;color: gainsboro;float:right;">jd_181711</a>
                </div>
                <div class="col col-center" style="padding: 0px;text-align: center;">
                    <i class="icon ion-chevron-right" style="display: inline;"></i>
                </div>
          </div>
           <div style="height: 1px;background-color: gainsboro;">
           </div>

          <div class="row row-wrap row-no-padding" ng-style="sexheight">
            <div class="col col-50 col-center" style="padding: 0px;">
                <a style="font-size: 18px;margin-left: 30px;">性别</a>
            </div>
            <div class="col col-33 col-center" style="padding: 0px;">
                <a style="text-decoration: none;color: gainsboro;float:right;">女</a>
            </div>
            <div class="col col-center" style="padding: 0px;text-align: center;">
                <i class="icon ion-chevron-right" style="display: inline;"></i>
            </div>
         </div>
          <div style="height: 1px;background-color: gainsboro;">
          </div>


        <div class="row row-wrap row-no-padding" ng-style="birthheight">
            <div class="col col-50 col-center" style="padding: 0px;">
                <a style="font-size: 18px;margin-left: 30px;">出生日期</a>
            </div>
            <div class="col col-33 col-center" style="padding: 0px;">
                <a style="text-decoration: none;color: gainsboro;float:right;">2016年11月07日</a>
            </div>
            <div class="col col-center" style="padding: 0px;text-align: center;">
                <i class="icon ion-chevron-right" style="display: inline;"></i>
            </div>
        </div>
    </ion-content>
</ion-view>